.accordion-container {
    width: 48%;
    background: transparent;
    display: flex; 
    flex-direction: column;
    flex-grow: 1;
    margin: 1em;
}

.MuiPaper-root{
    border-radius: 10px !important ;
  }

    .accordion-question {
        font-size: 1em;
    }

    .accordion-answer {
        font-size: .9em;
        line-height: 1.5em;
        font-weight: 300;
    }

    .benefits-list {
        list-style-type: disc;
        margin-left: 1.5em;
    }

        .benefits-item {
            margin: 5px 0;
            line-height: 1.4em;
            width: 100%;
            font-size: .9em;
        }

@media screen and (max-width: 1076px) {
    .accordion-container {
        width: 49%;
        margin: 1em .25em;
    }
}

@media screen and (max-width: 800px) {
    .accordion-container {
        width: 95%;
        margin: 0;
    }
}