.home-hero {
    width: 100%;
    background-size:cover;
    background-position: center center;
    background-repeat: no-repeat; 
}

    .hero-container {
        width: 100%;
        height: 100svh;
        padding: 2em 0 0 3em;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        font-family: "Poppins", sans-serif;
        background: rgba(0, 0, 0, .4); 
    }

        .hero-header {
            color: #FFFFFF;
            font-family: inherit;
            font-size: 6.5em;
            font-weight: 600;
            text-align: left;
            line-height: 1em;
            margin-top: .5em;
        }


        .hero-subheading {
            color: #FFFFFF;
            font-family: 'Poppins', sans-serif;
            font-size: 1.5em;
            font-weight: 300;
            padding: 1em 0 .75em 0;
            line-height: 1.8em;
            text-align: left;
        }

        .italic-text {
            font-style: italic;
            font-weight: 600;
        }

        .hero-button__container {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 0;
            padding-bottom: 0;
            margin-top: 1em;
        }

            .contact-link {
                margin-right: 2em; 
            }

                .contact-btn {
                    font-family: "Poppins", sans-serif;
                    width: 100%;
                    color: #FFFFFF;
                    border: 2px solid #FFFFFF;
                    border-radius: 30px;
                    font-size: 1.5em;
                    font-weight: 500;
                    padding: 15px 40px;
                    background: transparent;
                    transition: all .35s;
                    z-index: 1;
                    overflow: hidden;
                    position: relative;
                }


                .contact-btn:after {
                    content: "";
                    background: #2153CC;
                    position: absolute;
                    z-index: -1;
                    display: block;
                    transition: all .35s;
                }

                .contact-btn:hover::after {
                    left: 0;
                    right: 0;
                    top: 0;
                    bottom: 0;
                    transition: all .35s;
                }

                .contact-btn::after {
                    left: 0;
                    right: 0;
                    top: -100%;
                    bottom: 100%;
                }

/* HOME-ONE SECTION */

.home1-section {
    width: 100%;
    padding: 3em 0;
    background: linear-gradient(to bottom,#0E1111, #36454F);
}
    .home1-header {
            font-size: 3em;
            font-weight: 500;
            text-align: center;
            line-height: 1.2em;
            width: 100%;
            padding-bottom: .5em;
            margin: 0 auto;
            color: #FFFFFF;
            text-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
            font-family: 'Poppins', sans-serif;
            background: linear-gradient(to right, #FFFFFF, #406FE0, #2153CC);
                -webkit-text-fill-color: transparent;
                -webkit-background-clip: text;
                background-clip: text;
        }
    
    .home1-header > i {
        font-style: italic;
    }

    .home1-hr {
        width: 50%;
        background-color: #FFFFFF;
        background: linear-gradient(to right, #FFFFFF, #406FE0, #2153CC);
        height: 2px;
        border: none;
        margin: 0 auto;
        margin-top: .5em;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
        }

/* First Home Section Typography and Icons */

    .home1-content {
        width: 100%;
        display: flex;
        align-items: flex-start;
        justify-content: space-evenly;
        margin: 1em 0 3em 0;
    }

/* Icon List */

        .home1-icon__wrapper {
            width: 45%;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            justify-content: center;
            margin-top: 1.8em;
        }

            .home1-icon {
                display: flex;
                width: 100%;
                align-items: center;
                justify-content: space-between;
                border: none;
                border-radius: 20px;
                color: #FFFFFF;
                padding: 1em 0;
                margin-bottom: .7em;
                background: linear-gradient(to right, #406FE0, #2153CC);
                box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
                
            }

            .home1-icon__caption {
                text-align: center;
                font-size: 1.2em;
                max-width: 100%;
                margin-left: 10px;
            }

            .home1-icon .last {
                margin-bottom: 0;
            }

/* Subheading and Typography */

    .home1-typography {
        width: 48%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

        .home1-subheading {
            color: #FFFFFF;
            font-size: 2em;
            margin-bottom: .5em;
            line-height: 1.4em;
            font-weight: 500;
            text-align: center;
            text-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
        }

        .home1-text {
            text-align: center;
            overflow-x: hidden;
            color: #FFFFFF;
            font-weight: 400;
            font-size: 1.1em;
            line-height: 1.6em;
            background-color: rgba(33, 83, 204, 1);
            /* background: linear-gradient(to right, #406FE0, #2A2A72); */
            padding: 1.6em 1em;
            border-radius: 20px;
            box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
        }

/* Home1 Section Button */

    .home1-button__container {
        width: 100%;
        margin: 0 auto;
        text-align: center;
    }

    .home1-button {
        color: #FFFFFF;
        background: transparent;
        border: 1px solid #FFFFFF;
        padding: 12px 25px;
        font-size: 1.2em;
        border-radius: 25px;
        font-weight: 500;
        font-family: 'Poppins', sans-serif; 
        margin: .5em 0;
        width: 35%;
        transition: all .35s;
        z-index: 1;
        overflow: hidden;
        position: relative;
    }

/* Home1 Button Hover Animation */

    .home1-button:after {
        content: "";
        background: #2153CC;
        position: absolute;
        z-index: -1;
        display: block;
        transition: all .35s;
    }

    .home1-button:hover::after {
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        transition: all .35s;
    }

    .home1-button::after {
        left: 0;
        right: 0;
        top: -100%;
        bottom: 100%;
    }

/* Second Home Section */

.home2-section {
    width: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    
}

    .home2-container {
        background-color: rgba(0, 0, 0, .6);
        width: 100%;
        padding: 2em 0 3em 0;
    }

/* Home2 Header */

    .home2-header__wrapper {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        max-width: 100%;
        margin-bottom: 1em;
    }

        .home2-header {
            font-size: 3em;
            width: 100%;
            font-weight: 500;
            color: #FFFFFF;
            font-family: 'Poppins', sans-serif;
            text-align: center;
            margin: 0 auto;
            line-height: 1.1em;
            padding-top: .5em;
        }

        .home2-bold {
            text-align: center;
            font-size: 3.5em;
            font-weight: 600;
            padding-top: .05em;
            color: #FFFFFF;
            letter-spacing: .3em;
            background: linear-gradient(to right, #FFFFFF, #406FE0, #2153CC);
                -webkit-text-fill-color: transparent;
                -webkit-background-clip: text;
                background-clip: text;
        }

        .home2-line {
            width: 50%;
            height: 2px;
            border: none;
            background-color: #FFFFFF;
            background: linear-gradient(to right, #FFFFFF, #009FFD, #2A2A72);
        }

/* Home2 Subheading */

        .home2-subheading {
            color: #FFFFFF;
            text-align: center;
            font-weight: 400;
            font-size: 1.2em;
            line-height: 35px;
            width: 80%;
            padding: .5em 0 .1em 0;
            margin: 0 auto;
        }

/* Home2 Card Carousel */

    .home2-carousel__container {
        max-width: 95%;
        margin: 0 auto;
        position: relative;
    }

        .home2-carousel__cards {
            width: 100%;
            padding-bottom: 2em;    
        }

        .react-multiple-carousel__arrow {
            background: rgba(0, 0, 0, .3);
            margin: 0 -1.2em;
        }

        .react-multiple-carousel__arrow--left::before, .react-multiple-carousel__arrow--right::before {
            color: rgba(255, 255, 255, 0.5);
        }

        .card {
            height: 90%;
            border: 2px solid #FFFFFF;
            background-color: rgba(64, 111, 224, .9);
            color: #FFFFFF;
            margin: 30px 5px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
            border-radius: 5px;
            text-align: center;
            padding-top: .5em;
        }

            .card-icon {
                margin: 1.5em 0 2em 0;
                background: transparent;
                border: 3px solid #FFFFFF;
                border-radius: 100%;
                padding: 10px 12px;
            }

            .card-heading {
                font-size: 2em;
                margin: .5em auto;
                border-bottom: 2px solid #FFFFFF;
                font-weight: 500;
                width: 90%;
                padding-bottom: 10px;
            }

            .description {
                line-height: 1.8em;
                font-size: 1.1em;
                color: #FFFFFF;
                width: 90%;
                margin: 0 auto;
            }

/* HOME SECTION 3 */

.home3-section {
    width: 100%;
    padding: 3em 0 4em 0;
    color: #FFFFFF;
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(to bottom, #36454F, #414141);
}

/* Home3 Header */

    .home3-header {
        text-align: center;
        font-size: 3em;
        padding-bottom: .5em;
        font-weight: 500;
        text-shadow: 0 10px 20px rgba(0, 0, 0, 0.8);
    }

    .home3-container {
        padding: 3em 0;
        color: #FFFFFF;
        display: flex;
        height: 100%;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: flex-start;
        width: 95%;
        margin: 0 auto;
        border-radius: 10px;
        background-color: #406FE0;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);

    }

/* Home3 Card Components */

        .home3-card__wrapper {
            display: flex;
            width: 40%;
            height: 100%;
            flex-direction: column;
            justify-content: space-evenly;
            text-align: center;
        }

        .home3-card {
            width: 100%;
            height: 80px;
            position: relative;
            box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
            text-align: center;
            background-color: #0E1111;
            border-radius: 5px;
            padding-top: 1em;
            margin-bottom: .5em;
            transition: all 0.3s ease;

        }

        .home3-card:last-child {
            margin-bottom: 0;
        }

        .home3-card:hover {
            height: 92px;
            transition: all .3s ease;
            box-shadow: 0 5px 20px rgba(0, 0, 0, 0.9);
        }

        .home3-card__top {
            display: flex;
            width: 100%;
            align-items: center;
            justify-content: center;
            padding-top: .2em;
        }

            .home3-logo {
                width: 35px;
                height: 35px;
            }

            .home3-card__header {
                font-size: 1.2em;
                font-weight: 500;
                letter-spacing: 1px;
            }

            .home3-card:hover .home3-card__header {
                color: #2153CC;
                transition: all 0.2s ease;
            }

            .home3-card__description {
                font-size: 1em;
                width: 90%;
                line-height: 1.3em;
                padding:.1em 0 .5em 0;
                opacity: 0;
                max-height: 0;
                font-weight: 300;
                transition: all 0.2s ease;
            }

            .home3-card:hover .home3-card__description {
                transition: all 0.2s ease;
                opacity: 1;
            }
   
/* Home3 Paragraph */

    .home3-info__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 52.5%;
        padding: .5em .5em 0 .5em;            
    }

        .home3-typography {
            width: 98%;
            text-align: center;
            font-size: 1.1em;
            line-height: 1.5em;
            
        }

/* Home3 Button */
        
    .home3-link {
        display: block;
        width: 100%;
        margin-top: 1.5em;
        text-align: center;
    }

        .home3-button {
            color: #FFFFFF;
            border: none;
            box-shadow: 0 5px 15px rgba(0, 0, 0, 0.6);
            width: 70%;
            background: #2153CC;
            padding: 10px 30px;
            font-size: 1.2em;
            font-weight: 500;
            border-radius: 25px;
            font-family: 'Poppins', sans-serif; 
            margin: .5em 0;
            transition: all .35s;
            z-index: 1;
            overflow: hidden;
            position: relative;
        }

        .home3-button:after {
            content: "";
            background: #414141;
            position: absolute;
            z-index: -1;
            display: block;
            transition: all .35s;
        }
    
        .home3-button:hover::after {
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            transition: all .35s;
        }
    
        .home3-button::after {
            left: 0;
            right: 0;
            top: -100%;
            bottom: 100%;
        }

/* Ending Section */

.end-section {
    width: 100%;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

    .end-container {
        width: 100%;
        padding: 2.5em 0;
        background-color: rgba(0, 0, 0, .6);
        margin: 0 auto;
        color: #FFFFFF;
    }

/* Heading */

        .end-head__wrapper {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
            .end-logo {
                width: 325px;
                height: 300px;
            }

            .end-header {
                width: 100%;
                font-size: 3em;
                font-weight: 500;
                line-height: 1.2em;
                letter-spacing: 1.5px;
                text-align: center;
            }

            .end-header > i {
                font-style: italic;
            }
/* Body */

        .end-info__container {
            background-color: rgba(255, 255, 255, 0.3);
            width: 75%;
            margin: 1.5em auto;
            padding-top: .5em;
            border-radius: 10px;
        }

            .end-icons__wrapper {
                display: flex;
                flex-direction: row;
                width: 60%;
                margin: .5em auto;
                align-items: center;
                justify-content: space-between;
            }

            .end-typography {
                width: 90%;
                margin: .5em auto;
                font-size: 1.2em;
                font-weight: 300;
                line-height: 1.5em;
                text-align: center;
                padding: .5em 0;
                border-radius: 10px;
            }

                .end-typography > i {
                    font-style: italic;
                    font-weight: 500;
                }

/* End Contact Button */

        .end-buttons__container {
            width: 75%;
            padding: 1em 0;
            margin: 0 auto;
            display: flex;
            align-items: center;
            justify-content: space-evenly;
        }

            .end-link {
                width: 40%;
            }

            .end-schedule__button {
                font-family: 'Poppins', sans-serif;
                font-weight: 500;
                text-align: center;
                width: 100%;
                padding: 15px 35px;
                border-radius: 25px;
                background: transparent;
                border: 1px solid #FFFFFF;
                color: #FFFFFF;
                font-size: 1.2em;
                transition: all .35s;
                z-index: 1;
                overflow: hidden;
                position: relative;
            }

            .end-schedule__button:after {
                content: "";
                position: absolute;
                background: #2153CC;
                z-index: -1;
                display: block;
                transition: all .35s;
            }

            .end-schedule__button:hover::after {
                left: 0;
                right: 0;
                top: 0;
                bottom: 0;
            }

            .end-schedule__button::after {
                left: 0%;
                right: 0;
                top: -100%;
                bottom: 100%;
            }

            .end-phone__button {
                font-family: 'Poppins', sans-serif;
                font-weight: 500;
                text-align: center;
                width: 40%;
                padding: 15px 35px;
                border-radius: 25px;
                background: transparent;
                border: 1px solid #FFFFFF;
                position: relative;
                overflow: hidden;
                z-index: 1;
            }

            .end-phone__button:after {
                content: "";
                position: absolute;
                background: #2153CC;
                z-index: -1;
                display: block;
                transition: all .35s;
            }

            .end-phone__button:hover::after {
                left: 0;
                right: 0;
                top: 0;
                bottom: 0;
            }

            .end-phone__button::after {
                left: 0%;
                right: 0;
                top: -100%;
                bottom: 100%;
            }
            
            .end-phone__button > a {
                text-decoration: none;
                font-size: 1.2em;
                color: white;
            }




                    
















/* media query for smaller iphones  */

/* @media screen and (min-width: 320.02px) {
    .home-hero .home-header {
        padding: 7em 0 1.7em 0;
    }

        .home-header {
            padding: 1.5em 0 1em 0;
        }

        .home-header h1 {
            font-size: 4.2em;
        }

        .home-header p {
            line-height: 1.5em;
            font-size: 1.5em;
            padding: 1em 0;
        }

        .home-header .button-container {
            margin: 1em 0;
        }

    .home-one__container .home-one__content {
        flex-direction: column;
    }

        .home-one__content .body-icons-container {
            max-width: 100%; 
        }

        .home-one__content p {
            max-width: 100%;
            margin: 0;
            padding: 0;
        }
} */

/* media query for average size iphone */

/* @media screen and (min-width: 374.02px) {
    .home-hero .home-header {
        padding: 6em 0 1.3em 0;
    }

    .home-hero .home-header .home-header h1 {
        font-size: 4.2em;
    }

    .home-header .button-container .contact-link .contact-btn {
        padding: 8px 12px;
        font-size: 1.3em;
    }
}

/* media query for pro series */

/* @media screen and (min-width: 413.02px) {
    .home-hero .home-header {
        padding: 6em 0 1.5em 0;
    } 

    .home-hero .home-header .home-header h1 {
        font-size: 5.5em;
    }
        .home-header p {
            font-size: 1.6em;
        }

        .home-header .button-container {
            margin: .5em 0;
        }

        .home-header .button-container .contact-link .contact-btn {
            padding: 11px 13px;
        }
} */

/* media query for pro max series */

/* @media screen and (min-width: 427.02px) {
    .home-hero .home-header .home-header p {
        font-size: 1.7em;
    }  
    
    .home-hero .home-header .home-header .button-container {
        margin: 1em 0;
    }

    .home-hero .home-header .home-header .button-container .contact-link .contact-btn {
        padding: 12px 15px;

    }
}  */

/* @media screen and (max-width: 930px) {
    .home-one__content {
        grid-template-columns: 1fr;
        margin: 2em;
    }

    .home-one__content .icon-container {
        
    }

    .home-one__content .home-one__info{
            text-align: center;
            margin-top: 1em;
            margin-left: 0;
    }

    .home2-container {
        grid-template-columns: 1fr;
        margin: 2em;
    }

    .home2-container .icons-p {
        grid-row: 2;
        text-align: center;
        margin-top: 1em;
        line-height: 27px;

    }

    .home2-container .body-icons-container {
        margin: 0 auto;
        padding: .5em 1em;
        width: 80%;
    }

} */