.faqs-page {
    background: #DEDEDE;
    width: 100%;
}    

    .faqs-head {
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        margin: 0 auto;
        width: 100%;

        /* background */
    }

        .head-tint {
            align-content: center;
            background-color: rgba(0, 0, 0, .6);
            color: #FFFFFF;
            display: flex;
            flex-direction: column;
            height: 100%;
            justify-content: center;
            padding-top: 10em;
            text-align: center;
            width: 100%;
        }

        .faqs-main__header {
            font-size: 5em;
            font-weight: 500;
            line-height: 1.2em;
            margin-bottom: .25em;
        }

        .faqs-main__subheading {
            font-size: 1.2em;
            font-weight: 300;
            line-height: 1.6em;
            margin: 0 auto;
            width: 90%;
        }

    .faqs-container {
        align-items: flex-end;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        padding: 2em 0 4em 0;
        width: 100%;

        background-color: rgba(0, 0, 0, .6)
    }

        .faqs-info__wrapper {
            -webkit-backdrop-filter: blur( 2px );
            align-items: center;
            backdrop-filter: blur( 2px );
            background: rgba( 64, 111, 224, 0.7 );
            border: 1px solid rgba( 255, 255, 255, 0.18 );
            border-radius: 10px;
            box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
            color: #FFFFFF;
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin: 0 auto;
            padding: 2em 1em;
            width: 90%;
        }

            .faqs-header {
                font-size: 3em;
                font-weight: 500;
                margin: .5em 0;
                text-align: center;
            }

            .faqs-component__container {
                align-items: center;
                display: flex;
                flex-direction: row;
                justify-content: space-evenly;
                width: 100%;
            }

            .faqs-subheading {
                color: #FFFFFF;
                font-size: 1.2em;
                font-weight: 300;
                line-height: 1.6em;
                margin: 1em auto;
                text-align: center;
                width: 90%;
            }

            .faqs-contact__link {
                margin: 1em auto;
                text-align: center;
                width: 100%;
            }            
            .faqs-contact__button {
                background: transparent;
                border: 1px solid #FFFFFF;
                border-radius: 25px;
                color: #FFFFFF;
                font-size: 1.2em;
                overflow: hidden;
                padding: 10px 15px;
                position: relative;
                text-align: center;
                transition: all ease .35s;
                width: 30%;
                z-index: 1;
            }

                .faqs-contact__button:after {
                    background: #2153CC;
                    content: "";
                    display: block;
                    position: absolute;
                    transition: all .35s;
                    z-index: -1;
                }

                .faqs-contact__button:hover::after  {
                    bottom: 0;
                    left: 0;
                    right: 0;
                    top: 0;
                    transition: all .35s;
                } 

                .faqs-contact__button::after {
                    bottom: 0;
                    left: -100%;
                    right: 100%;
                    top: 0;
                }

/* media query #1 */

@media screen and (max-width: 1076px) {
    .faqs-info__wrapper {
        padding: 1em 0;
        width: 98%;
    }
}

@media screen and (max-width: 800px) {
    .faqs-component__container {
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }

    .faqs-header {
        font-size: 2.5em;
        width: 98%;
    }
}

@media screen and (max-width: 678px) {
    .faqs-main__header {
        font-size: 3em;
    }

    .faqs-main__subheading {
        font-size: 1.1em;
        width: 95%;
    }

        .faqs-main__subheading > span {
            display: none;
        }

    .faqs-header {
        font-size: 2em;
    }

    .faqs-container {
        align-items: center;
        justify-content: flex-start;
        padding: 1em 0;
    }

    .faqs-subheading {
        display: none;
    }

    .faqs-contact__button {
        margin-top: 1em;
        width: 50%;
    }
}
