.navbar {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, .6);
    padding: 10px 0;
    position: fixed;
    z-index: 999;    
}

.navbar .logo-container {
    display: flex;
    align-items: center;
    justify-content: baseline;
}

.navbar .logo-container .logo-text {
    color: white;
    font-size: 1em;
}

.navbar .hamburger {
    color: white;
    display: block;
    margin-right: .9rem;
}

.link-container {
    display: none;
}

.link-container.is-open {
    background-color: rgba(36,84,204, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    left: 0;
    padding: 2em 0;
    position: absolute;
    top: 70px;
    width: 100%;
    gap: 3em;
    
}

.fade-in-right {
    animation: fade-in-right 0.5s forwards;
  }
  
  @keyframes fade-in-right {
    from {
      opacity: 0;
      transform: translateX(100%);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }



.link-container li .item {
    text-decoration: none;
    color: white;
    font-weight: 200;
    font-size: .9em;
}

.link-container .contact-button {
    background-color: transparent;
    border: 1px solid white;
    border-radius: 2px;
    padding: 5px 10px;
    
}

.link-container .contact-button .contact-item {
    text-decoration: none;
    color: white;
    font-size: .9em;
    font-weight: 300;
    
}

.navbar.scrolled {
  background-color: #161616;
}

@media screen and (min-width: 768px) {
    .navbar .hamburger {
        display: none;
    }
    .link-container {
        display: flex;
        justify-content: center;
        align-items: center;
        list-style: none;
        gap: 2em;
    }

    .link-container .contact-button {
        margin-right: .9em;
    }

}